.img-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}

figure figcaption p {
    margin: 0em 0em 0em 0em !important;
    font-size: 100% !important;
    text-align: center !important;
}

figure figcaption p.caption-sub {
    margin: 0em 0em 3em 0em !important;
    font-size: 70% !important;
    text-align: center !important;
}
